.poster {
  height: 300px;
  width: 200px;
  background-color: lightgray;
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.posterImage {
  border-radius: 5px;
}

.movieButton > .poster:hover, .movieButton > .posterImage:hover {
  opacity: 0.6;
  
}

.movieListItem:hover {
  background-color: rgb(237, 235, 231, 0.6);
}


.movieButton {
  background-color: transparent;
  border: none;
  width: 100%;
  padding: 0px;
}

