nav {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  top: 0;
  width: 100%;
  height: 150px;
  background-image: url('https://images.unsplash.com/photo-1558544109-58992f348795?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=848&q=80');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 10;
    -o-box-shadow:      12px 12px 20px #555;
    -icab-box-shadow:   12px 12px 20px #555;
    -khtml-box-shadow:  12px 12px 20px #555;
    -moz-box-shadow:    12px 12px 20px #555;
    -webkit-box-shadow: 12px 12px 20px #555;
    box-shadow:         12px 12px 20px #555;
}

nav > button {
  margin: 10px;
  border: none;
  border-radius: 3px;
  background-color: transparent;
  font-size: 1rem;
}

nav > button:hover {
  border: 1px solid #102619;
}

@media screen and (min-width: 580px) {
  nav {
    justify-content: flex-start;
    align-items: flex-end;
  }
}